<!-- task-create.component.html -->

<div class="container">
  <h2>Create New Task</h2>
  <p class="text-danger" *ngIf="error$ | async"></p>
  <form [formGroup]="taskForm">
    <!-- Add form fields based on your task model -->
    <div class="form-group">
      <label>Title</label>
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>
    <div class="row my-1">
      <div class="form-group col-6">
        <label>Deadline</label>
        <input type="datetime-local" formControlName="deadline" class="form-control">
      </div>
      <div class="form-group col-6">
        <label>Start Date</label>
        <input type="datetime-local" formControlName="startDate" class="form-control">
      </div>
    </div>


    <!-- Tags Section -->
    <div class="form-group">
      <label>Tags</label>
      <div formArrayName="tags">
        <div *ngFor="let tagControl of tagsArray.controls; let i = index" class="d-flex align-items-center my-1">
          <input [formControl]="tagControl" placeholder="Tag" class="form-control mr-2">
          <button type="button" class="btn btn-danger m-1" (click)="removeTag(i)">Remove</button>
        </div>
      </div>
      <button type="button" class="btn btn-success my-2" (click)="addTag()">Add Tag</button>
    </div>

    <button type="button" class="btn btn-primary my-1" (click)="onSave()">Save Task</button>
    <button type="button" class="btn btn-secondary mx-1" (click)="resetForm()">Reset Form</button>
  </form>
</div>
